@{
    ViewBag.Title = "StandardPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link rel="stylesheet" href="/Content/themes/base/Shared/StandardPage.css" type="text/css" />
    @RenderSection("Head", required: false)
}

@section MenuOptions{
    @RenderSection("MenuOptions", required: false)
}

@section SubMenuOptions{
    @RenderSection("SubMenuOptions", required: false)
}

<div class="MainContent">
    <div class="PositionedContent">
    @RenderSection("MainContent", required: true)
    </div>
</div>
