<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container>
        <types>
          <type type="ProjectSafehouse.Abstractions.IDataAccessLayer, ProjectSafehouse"
                mapTo="ProjectSafehouse.Abstractions.FakeDataAccessLayer, ProjectSafehouse"
                name="Fake" />
        </types>
      </container>
    </containers>
  </unity>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
