@model ProjectSafehouse.Models.Company

@using(Html.BeginForm("CreateNewCompany", "Company", FormMethod.Post))
{
    <p class="NameSection InputSection">
        <label for="companyName">Name</label>
        <div class="TextWrapper">
            <img src="~/Content/themes/base/images/pen_24x24.png"/>
			@Html.TextBoxFor(x => x.Name, new { placeholder = "Company Name", id = "companyName", required = "true" })
		</div>
        <div style="clear:both"></div>
    </p>
    <p class="NameSection InputSection">
        <label for="companyDescription">Description</label>
        <div class="TextWrapper">
            <img src="~/Content/themes/base/images/article_24x24.png"/>
			@Html.TextBoxFor(x => x.Description, new { placeholder = "Company Description", id = "companyDescription", required = "true" })
		</div>
        <div style="clear:both"></div>
    </p>
    
    <input type="button" value="Create Company" onclick="ProjectSafehouse.AJAX.Company.CreateCompany();"/>
}