@model ProjectSafehouse.Models.Project

@{
    ViewBag.Title = "ProjectOverview";
    Layout = "~/Views/Shared/StandardPage.cshtml";
}

@section MainContent{
<h2>Project Overview:  @Model.Name</h2>
}
