@model ProjectSafehouse.Models.Project

@{
    ViewBag.Title = "ProjectOverview";
    Layout = "~/Views/Shared/StandardPage.cshtml";
}

@section Head{
    <style>

        ul.ActionItemList li.ActionItem
        {
            width: 80%;

            border: 1px solid #CCC;
            -webkit-border-radius: 5px;
	        -moz-border-radius: 5px;
	        border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;

            position: relative;

            -moz-box-shadow: 3px 3px 3px #666;
	        -webkit-box-shadow: 3px 3px 3px #666;
	        box-shadow: 3px 3px 3px #666;

            background: rgb(255,255,255); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
        }

        ul.ActionItemList li.ActionItem .Title
        {
            text-decoration: none;
            font-size: 2em;
            color: #333;
        }

        li.ActionItem div.ActionItemDetails
        {
            position: relative;
        }

        div.ActionItemDetails span.ID
        {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: .8em;
        }

    </style>
}

@section MainContent{
    <h2>Project Overview:  @Model.Name</h2>

    @Html.Partial("../Release/Partial_ReleaseList", Model.ReleaseList)
}
