body 
{

}


#mainMenu
{
    width: 100%;
    height: 72px;
    background-color: #FFF;
}

#userDropDown
{
    width: 70px;
    height: 64px;
    background-image: url(images/YellowUser.png);
    background-repeat: no-repeat;
    float: right;
}