@model ProjectSafehouse.Models.User

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/StandardPage.cshtml";
}

@section MainContent{
    <h2>Welcome to Project Safehouse @Model.Email</h2>
}

