@model ProjectSafehouse.Models.User

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/StandardPage.cshtml";
}

@section Head{
    <script type="text/javascript" src="/Scripts/Login/Welcome.js"></script>
}

@section MainContent{
    <h2>Welcome to Project Safehouse @Model.Email</h2>

    <div id="companiesList">

    </div>
}



