div.PositionedContent
{
    margin-top: 100px;
    padding: 10px;
    -moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

div.CleanBox
		{
			width: 750px;
			height: 0px;
            opacity: 0;
			margin-left: auto;
			margin-right: auto;
			margin-top: 50px;
			border: solid 1px #666;
			padding: 0px;
			background-color: #FFF;
            overflow: hidden;

			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			
			-moz-box-shadow: 2px 3px 6px #888;
			 -webkit-box-shadow: 2px 3px 6px #888;
			 box-shadow: 2px 3px 6px #888;

            overflow: hidden;
		}

		div.CleanBox .Content
		{
			padding: 10px;
            padding-left: 5px;
			width: 100%;
			height: 100%;
		}

        div.IconAndHeader
        {
            cursor: pointer;
            background: rgb(255,255,255); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

            border: 1px solid #CCC;
            -webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			
			-moz-box-shadow: 3px 3px 3px #666;
	        -webkit-box-shadow: 3px 3px 3px #666;
	        box-shadow: 3px 3px 3px #666;

             margin-top: 5px;
             padding: 10px;
        }

        div.IconAndHeader:hover
        {
            -moz-box-shadow: 1px 1px 1px #333;
	        -webkit-box-shadow: 1px 1px 1px #333;
	        box-shadow: 1px 1px 1px #333;

            border: solid 1px #59cc0a;

            background: rgb(244,247,237); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(244,247,237,1) 0%, rgba(226,226,201,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,247,237,1)), color-stop(100%,rgba(226,226,201,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(244,247,237,1) 0%,rgba(226,226,201,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(244,247,237,1) 0%,rgba(226,226,201,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(244,247,237,1) 0%,rgba(226,226,201,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(244,247,237,1) 0%,rgba(226,226,201,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ed', endColorstr='#e2e2c9',GradientType=0 ); /* IE6-9 */
        }

        div.IconAndHeader h2
        {
            
        }

        

        div#loginBox
        {
            display: block;
            height: 260px;
            opacity: 1;
        }

        div#signupBox
        {
            display: none;
        }
       
        #loginErrorMessage
        {
            color: #f00;
            top: -8px;
            left: 120px;
            position: absolute;

        }